{% extends rest_framework/base.html %}
{% load static %}
{% load i18n %}
{% load rest_framework %}
{% block head %}
  {% block title %}{% if name %}{{ name }} – {% endif %}Django REST framework{% endblock %}</title>
  {% block style %}
    {% block bootstrap_theme %}
      <link rel="stylesheet" type="text/css" href="{% static "soft_desk_support/bootstrap.css" %}"/>
    {% endblock %}
  {% endblock %}
{% endblock %}

{% block navbar %}
  <div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}"
    role="navigation" aria-label="{% trans "navbar" %}">
    <div class="container">

      {% block branding %}
        <a class='navbar-brand' rel="nofollow" href='https://www.django-rest-framework.org/'>
          Django REST framework
        </a>
      {% endblock %}

    </div>
  </div>
{% endblock %}
